<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Instructions</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/addae523af.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/e6d7f56f4e.js"></script>

    <!-- Libraries " for('static',filename=) " Stylesheet -->
    <link href="{{ url_for('static',filename='/lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='/lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static',filename='/css/bootstrap.min(train).css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static',filename='/css/style(train).css') }}" rel="stylesheet">
</head>

<body>
    <!-- Navbar Start -->
    <nav>
        <h2>Team Phoenix</h2>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about_us') }}">About</a></li>
            <li><a href="{{ url_for('contact_us') }}">Contact_us</a></li>
        </ul>
    </nav>
    <!-- Navbar End -->

    <!-- Team Start -->
    <div class="container-top">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase"> &nbsp;</h6>
                <h1 class="mb-5"> &nbsp;</h1>
            </div>

        </div>
    </div>
    <!-- Team End -->
    <!-- Team Start -->
    <div class="container-top">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase">// Instructions Page //</h6>
                <h1 class="mb-5">How to build your own model</h1>
            </div>

        </div>
    </div>
    <!-- Team End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="d-flex py-5 px-4" style="background-color: #f6f5f5a3;">
                        <i class="fa fa-book fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Well Documented</h5>
                            <p>Clear step by step instructions to prepare your own model. You cannot go wrong.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="d-flex bg-light py-5 px-4">
                        <i class="fa fa-users-cog fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">Less Time</h5>
                            <p>Gives right guidelines and proper steps & thus saving the time from searching. </p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="d-flex py-5 px-4" style="background-color: #f6f5f5a3;">
                        <i class="fa fa-code fa-3x text-primary flex-shrink-0"></i>
                        <div class="ps-4">
                            <h5 class="mb-3">No Coding</h5>
                            <p>Need not have any prior knowledge. All you need to do is folow step by step.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6">

                    <h1 class="mb-4"><span class="text-primary">Title:</span> Yamete Kudasai</h1>
                    <p class="mb-4">Give guidelines layout here/anything in general....Yume o miru koto ga dekiru nara,
                        yume o kowashite made tatakau!Minna, ganbatte! Tatakai no saigo made akiramenai yo!</p>
                    <div class="row g-4 mb-3 pb-3">
                        <div class="col-12 wow fadeIn" data-wow-delay="0.1s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">01</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Write heading for step 1 here</h6>
                                    <span>Tell in detail abt it</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.3s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">02</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Write heading for step 2 here</h6>
                                    <span>Tell in detail abt it</span>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">03</span>
                                </div>
                                <div class="ps-3">
                                    <h6>Write heading for step 3 here</h6>
                                    <span>Tell in detail abt it</span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Copy paste this div block to make as many as want-->
                        <div class="col-12 wow fadeIn" data-wow-delay="0.5s">
                            <div class="d-flex">
                                <div class="bg-light d-flex flex-shrink-0 align-items-center justify-content-center mt-1"
                                    style="width: 45px; height: 45px;">
                                    <span class="fw-bold text-secondary">04<!-- change num here --></span>
                                </div>
                                <div class="ps-3">
                                    <h6>Write heading for step 4 here</h6>
                                    <span>Tell in detail abt it</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <style>
                            .powershell {
                                font-family: Consolas, monospace;
                                padding: 10px;
                                border-radius: 4px;
                                background-color: #1c1e21;
                                color: #d4d4d4;
                            }
                            
                            .yellow {
                                color: #f7ce5b;
                            }
                            
                            .grey {
                                color: #9e9e9e;
                            }
                            
                            .blue {
                                color: #4da8da;
                            }

                </style>

                
                
                <div class="col-lg-6 pt-4" style="min-height: 400px;">
                    <div class="position-relative h-100 wow fadeIn" data-wow-delay="0.1s">
                        <!DOCTYPE html>
                       <!--  Code snippet layout starts-->
                        <div class="title-bar">Code</div>
                        <pre class="code">


                            
                            
        <code>

            <!--<span class="keyword">!Compress-Archive -Path 'directory' -DestinationPath 'archive.zip'</span> calculateSum(<span class="keyword">a</span>, <span class="keyword">b</span>) {
                <span class="keyword">var</span> sum = <span class="keyword">a</span> + <span class="keyword">b</span>;
                <span class="keyword">return</span> sum;
            }

            <span class="keyword">var</span> result = calculateSum(2, 3);
            console.log(result);-->
            <span class="yellow">Compress-Archive</span> <span class="grey">-Path</span> <span class="blue">'directory'</span> <span class="grey">-DestinationPath</span> <span class="blue">'archive.zip</span>'</pre>

        </code>
    </pre>
                        <!-- Code snippet layout ends-->
                        <form action="/my_model" method="POST" enctype="multipart/form-data">
                            <h6>tflite</h6>
                            <input type="file" name="tflite" >
                            <h6>label</h6>
                            <input type="file" name="label">
                            <input type="submit" value="Upload">
                        </form>
</ng-picker-overlay>
                          </div>
                          <script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
                          <script src="main.js"></script>
                        </body>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Fact Start -->
    <div class="container-fluid fact bg-dark my-5 py-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <i class="fa fa-check fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">126</h2>
                    <p class="text-white mb-0">Model's built</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">2048</h2>
                    <p class="text-white mb-0">People using</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s"><i
                        class="fa-regular fa-face-smile fa-2x" style="color: #ffffff;"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">1896</h2>
                    <p class="text-white mb-0">Satisfied Clients</p>
                </div>
                <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                    <i class="fa-solid fa-gear-code fa-lg"></i>
                    <h2 class="text-white mb-2" data-toggle="counter-up">10234</h2>
                    <p class="text-white mb-0">Service used</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Fact End -->





    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h6 class="text-primary text-uppercase">// Testimonial //</h6>
                <h1 class="mb-5">What Our Users Say</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Naruto Uzumaki</h5>
                    <p>Ninja</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Usotsuke. Iiwake wa ii tteba yo. Ore tteba motto tsuyoku nariteen da. Dattebayo
                        </p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Monkey D. Luffy</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Levi Ackerman</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="bg-light rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg"
                        style="width: 80px; height: 80px;">
                    <h5 class="mb-0">Light Yagami</h5>
                    <p>Profession</p>
                    <div class="testimonial-text bg-light text-center p-4">
                        <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et
                            eos. Clita erat ipsum et lorem et sit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->



    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="static/lib/wow/wow.min.js"></script>
    <script src="static/lib/easing/easing.min.js"></script>
    <script src="static/lib/waypoints/waypoints.min.js"></script>
    <script src="static/lib/counterup/counterup.min.js"></script>
    <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="static/js/main-index.js"></script>
    <script src="static/js/main-forms.js"></script>
</body>

</html>